*{
    padding: 0;
    margin: 0;
}
.wrapper{
    background-image: url(lake-192978_640.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.navbar{
    height: 80px;
    width: 100%;
    background-color:rgba(0,0,0,0.4);
}
.logo{
    width: 140px;
    height: 50px;
    padding: 20px 100px;
}
.navbar ul{
    float: right;
    margin-right: 20px;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 8px;
    line-height: 80px;
}
.navbar ul li a{
    text-decoration: none;
    color:white;
    font-size: 20px;
    padding: 6px 13px;
    font-family: 'Roboto' , sans-serif;
    transition: 1s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
    background: red;
    border-radius: 4px;
}
.wrapper .centre{
    position: absolute;
    top:45%;
    left: 55%;
    transform: translate(-50%,-50%);
}
.wrapper h1{
    color: rgb(138, 38, 38);
    font-size: 70px;
    font-weight: bold;
    width: 900px;
    text-align: center;
}
.wrapper h2{
    color: rgb(138, 38, 38);
    font-size: 70px;
    font-weight: bold;
    width: 885px;
    margin-top: 10px;
    text-align: center;
}
.centre .buttons{
    margin: 30px 280px;
}
.buttons button{
    width: 150px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: red;
    border: 2px solid black;
    outline: none;
    cursor: pointer;
    border-radius: 25px;
    transition: 1s;
}
.buttons .btn{
    margin-left: 25px;
}
.buttons button:hover{
    background-color: white;
    color: red;
}
#about {
    background: rgb(92, 77, 109);
    height: 100%;
}
#about .leftside{
    
    height: 100%;
}
#about h2{
    color: white;
    padding-top: 20px;
    text-align: center;
}
#about .leftside img{
    width: 500px;
    height: 300px;
    padding: 100px 400px;
    border-radius: 20px;
}
#about .rightside{
    margin: 20px 400px;
}